
    <!-- header -->
    <header [ngClass]="isScrolled ? 'ds-header': 'ds-fixed-header'" id="site-header">
      <div class="container">
          <div class="ds-header-inner">
            <!-- logo -->
            <a href="index.html" class="ds-logo">
              <span>C</span>Christopher Overton
            </a>
            <!-- logo -->

            <!-- social -->
            <ul class="ds-social">
              <li><a href="https://github.com/christophermoverton" target="_blank"><i class="ri-github-fill"></i></a></li>
              <li><a href="https://meta.stackexchange.com/users/1425504/christophermoverton" target="_blank"><i class="ri-stack-overflow-line"></i></a></li>
              <li><a href="https://www.linkedin.com/in/christopher-overton-485a4658/" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
            </ul>
            <!-- social -->
          </div>
      </div>
  </header>
  <!-- header -->
    <!-- banner -->
    <div class="ds-banner">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
            <figure>
              <img [src]="imagePath" alt="My Dynamic Image">
            </figure>
          </div>
          <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
            <section>
                <h1>
                  <span>HI THERE</span>
                  I’m Christopher Overton <br> Data Engineer + DEVELOPER based in Kansas.
                </h1>
                <ul class="ds-numbervalulist">
                  <li>
                    <strong>6+</strong>
                    <span>Experience</span>
                  </li>
                  <li>
                    <strong>44</strong>
                    <span>Projects</span>
                  </li>
                  <li>
                    <strong>4</strong>
                    <span>Happy Clients</span>
                  </li>
                </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
    <!-- banner -->
    <!-- about -->
    <div class="ds-about-section">
      <div class="container">
        <section>
            <h2 class="ds-heading">About Me</h2>
            <p>{{ jsonData.profile}}</p>
            <div class="ds-button-sec text-center">
                <a [href]="resumePath" class="ds-button">Download Resume</a>
            </div>
        </section>
      </div>
    </div>
    <!-- about -->
    <!--  Skills -->
    <div class="ds-skills-section">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
              <h2 class="ds-heading">Core Skills</h2>
              <ul class="ds-skills-list">
                <li  *ngFor="let skill of jsonData.skills">{{ skill }}</li>
              </ul>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <h2 class="ds-heading">Other Skills</h2>
            <ul class="ds-skills-list">
              <li>Storyblok</li>
              <li>PWAs</li>
              <li>Responsive Web Design</li>
              <li>React</li>
              <li>Vuetify</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--  Skills -->
   <!-- Experience -->
   <div class="ds-experience-section">
    <div class="container">
       <h2 class="ds-heading">Work Experience</h2>
       <div class="row ds-experience-list">
           <div *ngFor="let job of jsonData.employment_history" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
             <section>
               <span class="ds-year">({{ job.employment_period}})</span>
               <h3 class="ds-officename">{{ job.company_name }}, {{ job.company_location }} </h3>
               <span class="ds-department">{{  job.job_title }} </span>
               <p>Accomplishments:</p>
               
                 <div *ngFor="let responsibility of job.responsibilities">{{ responsibility }}</div>
            
             </section>
           </div>
       </div>
    </div>
  </div>
   <!-- Education -->   
   <div class="ds-experience-section">
    <div class="container">
       <h2 class="ds-heading">Education</h2>
       <div class="row ds-experience-list">
        <div *ngFor="let education of jsonData.education" class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
          <section>
            <ul>
              <li>
                {{ education.course_degree }} at {{ education.university }} ({{ education.date }})
              </li>
            </ul>
          </section>
        </div>
       </div>
    </div>
   </div>

   <!--  Work -->
   <div class="ds-work-section">
    <div class="container">
         <h2 class="ds-heading">Latest works</h2>
         <div class="ds-work-list-section">
           <div class="ds-work-list">
             <div class="row">
                 <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                     <section>
                         <h3 class="ds-work-tilte">Tripy mobile app</h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis sem maximus, ornare metus ut, congue enim. Sed fermentum nulla tellus, quis efficitur mauris tristique efficitur. Aliquam rhoncus sem sed ullamcorper venenatis. Aenean malesuada eu orci non sodales. </p>
                         <a href="works-setails.html" class="ds-button">Details</a>
                     </section>
                 </div>
                 <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                     <figure><img src="assets/images/work-1.jpg"></figure>
                 </div>
             </div>
           </div>
           <div class="ds-work-list">
             <div class="row">
                 <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                     <section>
                         <h3 class="ds-work-tilte">Hello mobile app</h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis sem maximus, ornare metus ut, congue enim. Sed fermentum nulla tellus, quis efficitur mauris tristique efficitur. Aliquam rhoncus sem sed ullamcorper venenatis. Aenean malesuada eu orci non sodales. </p>
                         <a href="works-setails.html" class="ds-button">Details</a>
                     </section>
                 </div>
                 <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                     <figure><img src="assets/images/work-2.jpg"></figure>
                 </div>
             </div>
           </div>
           <div class="ds-work-list">
             <div class="row">
                 <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                     <section>
                         <h3 class="ds-work-tilte">Cute cookies app</h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis sem maximus, ornare metus ut, congue enim. Sed fermentum nulla tellus, quis efficitur mauris tristique efficitur. Aliquam rhoncus sem sed ullamcorper venenatis. Aenean malesuada eu orci non sodales. </p>
                         <a href="works-setails.html" class="ds-button">Details</a>
                     </section>
                 </div>
                 <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                      <figure><img src="assets/images/work-3.jpg"></figure>
                 </div>
             </div>
           </div>
         </div>
    </div>
  </div>
  <!--  Work -->   
  <!--  footer -->
  <footer class="ds-footer text-center">
  <div class="container">
      <section>
        <span>Stay in touch</span>
        <h4>Ready to talk?</h4>
        <p>Feel free to contact me</p>
        <a href="mailto:christophermoverton@gmail.com" class="ds-button">Lets Talk</a>
      </section>
      <span class="ds-copyright">© 2022 All rights reserved. Free minimal bootstrap template by <a href="https://designstub.com/" target="_blank">Designstub</a>.</span>
  </div>
</footer>
  <section id="save">
    <section class="sheet">
      <aside>
        <div class="jsonData">
            <h1>{{ jsonData.name }}</h1>
            <p>{{ jsonData.contact.email }}</p>
            <p>{{ jsonData.contact.phone }}</p>
            <p>{{ jsonData.contact.location }}</p>

            <h2>Employment History</h2>
            
            <div *ngFor="let job of jsonData.employment_history">
              {{ job.job_title }} at {{ job.company_location }} 
              <p>({{ job.employment_period}})</p>
              <div *ngFor="let responsibility of job.responsibilities">
                  {{responsibility}} 
              </div>
              <p></p>
            </div>
            
          
            <h2>Education</h2>
            <ul>
              <li *ngFor="let education of jsonData.education">
                {{ education.course_degree }} at {{ education.university }} ({{ education.date }})
              </li>
            </ul>
          
            <!-- Repeat the above pattern for other resume sections -->
        </div>
      </aside>
    </section>
  </section>

